<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bannerAdUnitId</key>
	<string>ca-app-pub-1944147142676857/8322047184</string>
	<key>interstitialAdUnitId</key>
	<string>ca-app-pub-1944147142676857/4382802171</string>
	<key>adjustAppToken</key>
	<string>gzyzag7xfda8</string>
	<key>appMetricaAPIKey</key>
	<string>d8e81f6a-80b8-4743-b009-2014ac83c9d2</string>
</dict>
</plist>
